In [7]:
import pandas as pd
data = pd.ExcelFile("http://video.ittensive.com/python-advanced/website.load.timings.xlsx").parse(sheet_name=0, names= ["Date", "DOM time", "Load time"], converters={"Date": pd.to_datetime, "DOM time": int, "Load time": int})
print (data.head())
print (data.mean())
print (data["Date"])

                 Date  DOM time  Load time
0 2016-03-12 00:00:01      3160       7008
1 2016-03-13 00:00:01         0          0
2 2016-03-14 00:00:01      4861      45341
3 2016-03-15 00:00:01      7234      26965
4 2016-03-16 00:00:01      2135       8746
DOM time      4026.705882
Load time    11352.862745
dtype: float64
0    2016-03-12 00:00:01
1    2016-03-13 00:00:01
2    2016-03-14 00:00:01
3    2016-03-15 00:00:01
4    2016-03-16 00:00:01
5    2016-03-17 00:00:01
6    2016-03-18 00:00:01
7    2016-03-19 00:00:01
8    2016-03-20 00:00:01
9    2016-03-21 00:00:01
10   2016-03-22 00:00:01
11   2016-03-23 00:00:01
12   2016-03-24 00:00:01
13   2016-03-25 00:00:01
14   2016-03-26 00:00:01
15   2016-03-27 00:00:01
16   2016-03-28 00:00:01
17   2016-03-29 00:00:01
18   2016-03-30 00:00:01
19   2016-03-31 00:00:01
20   2016-04-01 00:00:01
21   2016-04-03 00:00:01
22   2016-04-04 00:00:01
23   2016-04-07 00:00:01
24   2016-04-08 00:00:01
25   2016-04-09 00:00:01
26   2016-04-10 00:00:01
27   2016-04-11 00:00:01
28   2016-04-12 00:00:01
29   2016-04-13 00:00:01
30   2016-04-14 00:00:01
31   2016-04-15 00:00:01
32   2016-04-16 00:00:01
33   2016-04-17 00:00:01
34   2016-04-18 00:00:01
35   2016-04-19 00:00:01
36   2016-04-20 00:00:01
37   2016-04-21 00:00:01
38   2016-04-22 00:00:01
39   2016-04-23 00:00:01
40   2016-04-24 00:00:01
41   2016-04-25 00:00:01
42   2016-04-26 00:00:01
43   2016-04-27 00:00:01
44   2016-04-28 00:00:01
45   2016-04-29 00:00:01
46   2016-04-30 00:00:01
47   2016-05-01 00:00:01
48   2016-05-02 00:00:01
49   2016-05-03 00:00:01
50   2016-05-04 00:00:01
Name: Date, dtype: datetime64[ns]